<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Just Dirve</title>
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/css/myriad.css">
	<link rel="stylesheet" href="assets/css/style.css">
</head>
<body class="gradient" id="login-page">
	<header class="header" id="header-2">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-1">
					<div class="page-arrow left-arrow text-left">
						<a href="#" ><span> < </span></a>
					</div>
				</div>
				<div class="col-md-10 text-center">
					<div class="logo">
						<a href="index.html"><img src="assets/images/logo.png" alt="#"></a>
					</div>
					<div class="page-title">
						<h2>Login</h2>
					</div>
				</div>
				<div class="col-md-1">
					<div class="page-arrow right-arrow text-right">
						<a href="#" ><span> > </span></a>
					</div>
				</div>
			</div>
		</div>		
	</header><!-- /header -->
	<section id="page-content">
		<div class="container">
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<div class="login-form">
						<p class="text-center">Enter username and password</p>
						<form action="login_submit" method="get" accept-charset="utf-8">
							<div class="form-controls">
								<input type="text" placeholder="Username">
							</div>
							<div class="form-controls">
								<input type="password" placeholder="Password">
							</div>
							<div class="form-controls">
								<input type="submit" value="sign in!">
							</div>
						</form>
							<h2 class="text-center">...or Login with.</h2>
					</div>
				</div>
				<div class="col-md-4 text-right">
					<img src="assets/images/l.png" class="backgroun-img" alt="">
				</div>
			</div>
			<div class="row" id="social-bottom-spacing">
				<div class="col-md-3"></div>
				<div class="col-md-6">
					<div class="or-login-social">
						<ul>
							<li><a href="#"><img src="assets/images/facebook.png" alt="#"></a></li>
							<li><a href="#"><img src="assets/images/twitter.png" alt="#"></a></li>
							<li><a href="#"><img src="assets/images/google-plus.png" alt="#"></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3"></div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<hr class="login-hr">
				</div>
			</div>
		</div>
	</section>	
<script src="assets/js/jquery-3.3.1.min.js"></script><script src="assets/js/bootstrap.min.js"></script><script src="assets/js/main.js"></script>
</body>
</html>