<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Just Dirve</title>
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/css/myriad.css">
	<link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
<div class="payment-main">
	<div class="container-fluid nopadding">
		<div class="row">
			<div class="col-md-4 nopadding">
				<div class="sidebar-login">
					<div class="login-form-payment">
							<p class="text-center">Check out</p>
							<form action="login_submit" method="get" accept-charset="utf-8">
								<div class="form-controls">
									<input type="text" placeholder="Username">
								</div>
								<div class="form-controls">
									<input type="password" placeholder="Password">
								</div>
								<div class="form-controlss">
									<input type="submit" value="sign in!">
								</div>
							</form>
								<p><a href="#">Frogotten your Password?</a></p>
						</div>
						<div class="learn-imgae text-center">
							<img src="assets/images/l2.png" alt="">
						</div>
				</div>
			</div>
			<div class="col-md-8 nopadding">
				<div class="payment-area">
					<header id="header" class="header-payment">
						<div class="container">
							<div class="row">
								<div class="col-12 col-md-12 text-right">
									<div class="logo">
										<a href="index.html"><img src="assets/images/logo.png" alt="#"></a>
									</div>
								</div>				
							</div>
						</div>
					</header><!-- /header -->
					<div class="pay-methods">
						<p>We accept debit cars only</p>
						<img src="assets/images/visa.png" alt="">
						<form action="payment_submit" method="get" accept-charset="utf-8">
							<label><input type="checkbox" ><span class="check"></span> Pay $ 120.00 with Debit card</label>
							<div class="row">
								<div class="col-sm-12 col-md-6">
									<div class="form-controls1">
										<label for="cardholder">Cardholder's name</label>
										<input type="text" name="cardholder">
									</div>
								</div>
								<div class="col-sm-12 col-md-6">
									<div class="form-controls1">
										<label for="cardnum">Card Number</label>
										<input type="text" name="cardnum">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6 nopadding">
									<div class="row">
										<div class="col-md-4 pad-right-0">
											<div class="form-controls1">
												<label for="expiry">Expiry Date</label>
												<input type="text" name="expiry" placeholder="MM/YY">
											</div>
										</div>
										<div class="col-md-8">
											<div class="form-controls1">
												<label for="security">Security code</label>
												<input type="text" name="security">
											</div>
										</div>
									</div>
								</div>
							</div>	
						</form>
					</div>
					<div class="payment-footer">
						<div class="row">
							<div class="col-sm-6 col-md-6">
								<p class="back-btn"><a href="#">Back</a></p>
							</div>
							<div class="col-sm-6 col-md-6">
								<p class="next-btn"><a href="#">Next step</a></p>	
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	
<script src="assets/js/jquery-3.3.1.min.js"></script><script src="assets/js/bootstrap.min.js"></script><script src="assets/js/main.js"></script>
</body>
</html>