<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Just Dirve</title>
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/css/myriad.css">
	<link rel="stylesheet" href="assets/css/style.css">
</head>
<body class="gradient" id="register-page">
	<header class="header" id="header-2">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-1">
					<div class="page-arrow left-arrow text-left">
						<a href="#" ><span> < </span></a>
					</div>
				</div>
				<div class="col-md-10 text-center">
					<div class="logo">
						<a href="index.html"><img src="assets/images/logo.png" alt="#"></a>
					</div>
					<div class="registration text-center">
						<h3>Registration (Freee)</h3>
						<p>Free Registration for all driving leaners and instructors</p>
						<p>Register now & get access now</p>
					</div>
				</div>
				<div class="col-md-1">
					<div class="page-arrow right-arrow text-right">
						<a href="#" ><span> > </span></a>
					</div>
				</div>
			</div>
		</div>		
	</header><!-- /header -->
	<section id="page-content">
		<div class="container">
			<div class="row">
				<div class="col-md-6 text-left">
					<img src="assets/images/l.png" class="backgroun-img" alt="">
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-1"></div>
						<div class="col-md-10">
							<div class="login-form register-form">
								<p class="sign-up">Sign up now <span>Fill in the below to get instant access</span> </p>
								<form action="login_submit" method="get" accept-charset="utf-8">
									<div class="form-controls">
										<input type="text" placeholder="First name">
									</div>
									<div class="form-controls">
										<input type="text" placeholder="Last name">
									</div>
									<div class="form-controls">
										<input type="email" placeholder="Email">
									</div>
									<div class="form-controls">
										<input type="text" placeholder="You Age">
									</div>
									<div class="form-controls">
										<input type="tel" placeholder="Tele No">
									</div>
									<div class="form-controls">
										<input type="submit" value="sign me up!">
									</div>
								</form>
									<div class="terms">
										<p>By creating an acccount you agree to our <a href="#">Terms and Conditios.</a> Please read our <a href="#">Terms and Conditios.</a> </p>
									</div>
							</div>
						</div>
						<div class="col-md-1"></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-8">
					<div class="or-login-social">
						<ul>
							<li><a href="#"><img src="assets/images/facebook.png" alt="#"></a></li>
							<li><a href="#"><img src="assets/images/twitter.png" alt="#"></a></li>
							<li><a href="#"><img src="assets/images/google-plus.png" alt="#"></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<hr class="login-hr">
				</div>
			</div>
		</div>
	</section>	
<script src="assets/js/jquery-3.3.1.min.js"></script><script src="assets/js/bootstrap.min.js"></script><script src="assets/js/main.js"></script>
</body>
</html>